@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,400;1,600&display=swap');

* {
	margin: 0px;
	padding: 0px;
}

.quote_text_h1 {
	font-family: 'Vollkorn';
	font-weight: 600;
}

.quote_text_h2 {
	font-family: 'Vollkorn';
	font-weight: 400;
}
