<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">    
  <link rel="stylesheet" href="../css/style.css">    

    <title>Home</title>
  </head>
  <body>
  <div class="container-sm border rounded" style="max-width: 80%; padding: 80px 80px; margin-top: 4em;">
  	<h1 class="quote_text_h1"><%= quote %></h1>
  	<h2 class="quote_text_h2">~ <%= person_quote %></h2>
  </div>
  </body>
</html>

